{% extends 'base.html' %}

{% load static %}

{% block legenda %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="#">{{ movie.movie_genre.first.name }}</a>
                        <span>{{ movie.t }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="anime__video__player">
                        <video id="player" playsinline controls data-poster="./videos/anime-watch.jpg">
                            <source src="{{ movie.video.url }}" type="video/mp4" />
                            <!-- Captions are optional -->
                            <track kind="captions" label="English captions" src="#" srclang="en" default />
                        </video>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="anime__details__review">
                        <div class="section-title">
                            <h5>Reviews</h5>
                        </div>
                        {% for review in reviews %}
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img src="{{ review.movie.image.url }}" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>{{ review.user.username }} - <span>1 Hour ago</span></h6>
                                <p>{{ review.comment }}</p>
                            </div>
                        </div>
                        {% endfor %}
                            
                        </div>
                    </div>
                    
                    {% if request.user.is_authenticated %}
                    <div class="anime__details__form">
                        <div class="section-title">
                            <h5>Your Comment</h5>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <textarea placeholder="Your Comment" name="comment"></textarea>
                            <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->

{% endblock %}